@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: unset;

    &:visited{
        color: black;
    }
}

button, a {
    border: unset;
    text-decoration: unset;
}

body{   
    .container{
        display: block;
        width: 1280px;
        margin: auto;

    }
    #header{
        background-color: #1b212c;
        height: 100vh;
        .container{
            height: 100%;
            .content{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .card-area{
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                }
                .basket-area{
                    text-align: center;
                    font-size: 24px;
                    margin-top: 25px;
                    color: white;
                }
            }
        }
    }
}